/*
* File: styles.css
* Description: Main style sheet for the website
* Author: Sebastian Meneses Salazar
* Date: 2023-11-29
*/

/* variable globales */
:root {
  --primary-color: #87CEEB;
  --secondary-color: #f1f1f1;
  --font-family: Arial, sans-serif;
}

/* reinicio de estilo */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
}

body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #333;
  font-family: var(--font-family-primary);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

nav {
  background-color: var(--primary-color);
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Ensure nav stays on top */
}

nav a {
  color: #000000;
  text-decoration: none;
  margin-right: 30px;
  padding: 10px;
  font-weight: bold;
}

main {
  flex: 1; /* Make main content take up remaining space */
  padding: 2rem;
}

footer {
  background-color: transparent;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  color: white;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  position: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: var(--primary-color);
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.review-card, .place-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.place-card {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  text-align: center;
}

.place-image {
  width: 100%;
  border-radius: 10px;
  border: 2px solid black;
  border-radius: 10px;
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.details-button {
  background-color: var(--primary-color);
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

.places-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.logo {
  width: 150px;
}

.max-filtre {
  position: sticky; /* O position: fixed si quieres que se quede completamente fijo */
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color); /* O el color de fondo que desees */
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.link {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

#review-text {
  width: 100%; /* Make it full width */
  height: 150px; /* Set the height */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  resize: vertical; /* Allow resizing vertically */
}