asgiref==3.8.1
atheris==2.3.0
bcrypt==3.2.0
brotli==1.1.0
ConfigParser==7.2.0
cryptography==3.4.8
cx_Oracle==8.3.0
Cython==3.0.12
dl==0.1.0
docutils==0.21.2
fqdn==1.5.1
HTMLParser==0.0.2
hypothesis==6.128.3
importlib_metadata==4.6.4
ipython==8.12.3
ipywidgets==8.1.5
isoduration==20.11.0
jaraco.util==15.0.0
jnius==1.1.0
jsonpointer==2.0
keyring==23.5.0
lockfile==0.12.2
lxml==5.3.1
mod==0.3.0
numpy==2.2.3
objgraph==3.6.2
ordereddict==1.1
Pillow==11.1.0
pkgutil_resolve_name==1.3.10
protobuf==6.30.0
psutil==7.0.0
pyOpenSSL==25.0.0
pyOpenSSL==21.0.0
pyOpenSSL==25.0.0
pyperf==2.9.0
pysqlcipher3==1.2.0
pytest==8.3.5
python-dotenv==1.0.1
railroad==0.5.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
sets==0.3.2
Sphinx==8.2.3
sqlcipher3==0.5.4
thread==2.0.5
toml==0.10.2
tornado==6.4.2
ujson==5.10.0
uri_template==1.3.0
watchdog==6.0.0
webcolors==24.11.1
xmlrpclib==1.0.1
zipp==1.0.0
